.greeting {
  color: honeydew
}

.item .img-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.item div, h3, h4 {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item {
  margin: 20px;
  background-color: darkorange;
  border-radius: 20px;
}

.item a {
  color: white;
  text-decoration: none; 
}

.disabled-button {
  background-color: gray;
}

.delete-button {
  background-color: crimson;
  border-radius: 10px;
  margin-left: 20px;
}

.warning-message {
  color: brown;
}

.button-wrapper {
  text-align: center;
}

.page-number-wrapper {
  text-align: center;
}