.greeting {
  color: honeydew
}

.item .img-wrapper {
  width: 100px;
  height: 100px;
  position: relative;
}

.item div, h3 {
  margin-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item {
  margin: 20px;
  background-color: darkorange;
  border-radius: 20px;
}

.item a {
  color: white;
  text-decoration: none; 
}

.disabled-button {
  background-color: gray;
}

.warning-message {
  color: brown;
}